<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Test Blockchain" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Test Blockchain" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header>
          <%= render 'layouts/navigation' %>
        </header>

        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
